*{
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: url(assets/home.png) center no-repeat;
    background-size: 100% 100%;
}

.first{
    display: flex;
    width: 100%;
    height: 100vh;
}

.imgAncient{
    width:200px;
    height: 260px;
    
}

.ancient{
    width: 30%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ancientButton{
    padding: 0;
    border: none;
    height: 250px;
    margin-top: 10px;
    cursor: pointer;
}

.border{
    border: 2px solid red;
}

.level {
    display: flex;
    width: 20%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    padding-top: 300px;
}

.buttonLevel{
    position: absolute;
    width: 150px;
    height: 30px;
    color: red;
    font-weight: 700;
    background: transparent;
    margin-top: 10px;
    border-color: red;
    cursor: pointer;
}

.medium{
    margin-top: 50px;
}

.hard{
    margin-top: 90px;
}

.disp{
    display: none;
}

.back {
    background-color: purple;
}

.last{
    width: 50%;
    height: 100vh;
}

.cold{
    margin-top: 330px;
    margin-left: 300px;
}

.bgImages {
    width: 100px;
    height: 160px;
}

.bg{
    padding: 0;
    border: none;
    height: 150px;
    margin-top: 330px;
    margin-left: 300px;
    cursor: pointer;
}

.card{
    width: 100px;
    height: 160px;
    margin-top: 30px;
    margin-left: 300px;
    background-size: 100% 100%;
}

.disp1{
    opacity: 0;
}